#root {
  height: 100%;
  font-family: "Orbitron";
}

html {
  min-width: 350px;
  color: #fff;
}

:root {
  --max-width: 1720px;

  --background-color: radial-gradient(
    73.28% 231.6% at 26.72% 52.96%,
    #0e1a5a 0%,
    #0e1a5a 5.27%,
    #21004b 100%
  );
  --blue-pink: linear-gradient(270deg, #d815ff 0%, #09bbf9 102.1%);
  --font-size-menu: 64px;
  --white-color: #fff;
  --color-black: #000000;
  --font-size-icon-text: 16px;
  --color-red-pink: #f61067;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

.label {
  width: 100%;
  max-width: 265px;
  height: 30px;
  display: grid;
  align-self: end;
  grid-template-columns: 1fr 5fr;
  cursor: pointer;
}

.radio {
  display: none;
}

.fake {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background: #d9d9d9;
  position: relative;
}

.fake::before {
  content: "";
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 18px;
  height: 18px;
  background: #f61067;
  box-shadow: 0px 0px 3px rgba(246, 16, 103, 0.95);
  border-radius: 100%;
  opacity: 0;
  transition: 0.2s;
}

.radio:checked + .fake::before {
  opacity: 1;
}

.text {
  width: 100%;
  height: 30px;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
}

.text1 {
  width: 100%;
  height: 30px;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  text-align: start;
}

.MusicContainer{
  display: flex;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 5px;
  align-items: flex-end;
  margin-bottom: 20px;

}
@keyframes MusicContainer {
  100%{
    height: 10px;
  }
  50%{
    height: 25px;
  }
  0%{
    height: 30px;
  }
}

.Bars{
  background: #fff;
  width: 3px;
  height: 15px;
  animation: MusicContainer 0.4s infinite;
}
.Bars:nth-child(2){
  animation-delay: 0.3s;
}
.Bars:nth-child(3){
  animation-delay: 0.1s;
}
.Bars:nth-child(4){
  animation-delay: 0.2s;
}
.Bars:nth-child(5){
  animation-delay: 0.3s;
}




